body{
    font-family: Arial, sans-serif;
}

table{
    margin: auto;
}

table, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
} 

thead, tfoot{
    background-color: #27426d;
    color: white;
    text-align: center;
}

tbody{
    color: white;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #6facff;
}

tbody tr:nth-child(odd){
    background-color: #4f8cef;
}