* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
}

.articles {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

article{
  position: relative;
  width: 260px;
  height: 90px;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

h2{
  color: #4078c0;
  position: absolute;
  top: 0;
  left: 0.5rem
}

img{
  position: absolute;
  right: 2rem;
  bottom: 0.5rem;
}

.pokenumber{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #d1d5db
}

.typeoverview{
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.type-grass{
  background-color: #78c850;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25rem;
}

.type-fire{
  background-color: #f08030;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25rem;
}

.type-flying{
  background-color: #a890f0;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25rem;
}

.type-poison{
  background-color: #a040a0;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25rem;
}

.type-water{
  background-color: #6890f0;
  border-radius: 0.5rem;
  color: white;
  padding: 0.25rem;
}

@media screen and (min-width: 901px) {
  main{
    width: 100%;
    max-width: 900px;
  }
  
}

@media screen and (max-width: 900px){
  body{
    margin: 0;
  }

  main{
    width: 100%;
    max-width: 900px;
    height: auto;
    border: none;
    border-radius: 0;
  }
  
  .articles{
    
  }
}

@media screen and (max-width: 600px) {
  main{
    padding: 0.5rem;
  }

  .articles{
    flex-direction: column;
  }

  article{
    width: 100%;
    box-shadow: none;
  }
  
}