*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin: 1rem;
}

p{
    margin: 1rem;
}

img{
    width: 100%;
    max-width: 500px;
    margin: 1rem;
}